.bodyProduto {
    width: 100dvw;
    height: 100dvh;
    background-color: whitesmoke;
}

.produtoUser {
    display: flex;
    align-items: center;
    padding: 1vh 2vh;
}

.produtoUser > img {
    height: 5vh;
    width: auto;
    margin-right: 2vh;
}

.produto {
    padding: 0 3vw;
}

.infoProduto > h2 {
    margin-bottom: 2vh;
    padding-bottom: 1vh;
    width: 80vw;
    border-bottom: 2px solid #A94BE3;
}

.infoProduto > h3 {
    margin: 1vh 0;
}

.compraProduto {
    margin-top: 5vh;
}

.compraProduto > h4 {
    margin-bottom: 1vh;
    font-weight: bold;
}

.compraProduto > p {
    margin-bottom: 1vh;
    font-weight: 600;
}

.imgProduto {
    width: 92vw;
    height: auto;
}

.btnCompra {
    background-color: #A94BE3 !important;
    border-radius: 5px;
    color: white !important;
    height: 4vh;
    width: 18vw;
    margin-top: 3vh;
}

@media screen and (width > 768px) {

    .produto {
        display: flex;
        justify-content: space-evenly;
    }

    .produtoUser {
        display: flex;
        align-items: center;
        margin-left: 16vw;
        padding-top: 8vh;
    }

    .infoProduto > h2 {
        width: 70%;
        margin-bottom: 2vh;
        padding-bottom: 1vh;
        border-bottom: 2px solid #A94BE3;
    }

    .infoProduto>h3 {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .infoProduto {
        width: 30vw;
    }

    .infoCompra {
        width: 100%;
        margin: 0 3vw;
    }

    .imgProduto {
        border-radius: 5px;
        height: 40vh;
        width: auto;
    }

    .compraProduto {
        border-radius: 5px;
        background-color: white;
        margin-top: 6vh;
        padding-top: 5vh;
        width: 22vw;
        height: 45vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btnCompra {
        background-color: #A94BE3 !important;
        border-radius: 5px;
        color: white;
        height: 4vh;
        width: 12vw;
    }

    .nmON>.produto>.compraProduto {
        background-color: rgb(68, 68, 68);
    }

}